label{
    display:block;
    padding: 10px;
}
 form{
      text-align: center;
      background-color:darkgrey;
      margin:0px 500px 0px 500px;
    }
#submit{
    padding: 10px;
}
input[type=submit]
{
    background-color:floralwhite;
}
input[type=submit]:hover
{
    background-color:cornflowerblue;
}